/***********Class Selectors*************/
.TableWE {
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: #C2DED1
}

.HeadingWE {
  text-align: center;
}

.WEcenter {
  text-align: center;
}

/**this is a good example of a class because it can be used for anything**/
.circular {
  border-radius: 100%;
}
